
<div class="container my-5">
  
  <h2>Porfolio</h2>
  <p class="text-muted">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  
  <div class="row">
    
    <div class="col-md-4">
      <img src="https://images.freeimages.com/images/large-previews/49f/the-shrimp-1322833.jpg" class="img-projeto">
      <h4 class="text-primary">Camaron</h4>
      <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
    </div>

    <div class="col-md-4">
      <img src="https://images.freeimages.com/images/large-previews/49f/the-shrimp-1322833.jpg" class="img-projeto">
      <h4 class="text-primary">Shrimp</h4>
      <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
    </div>

    <div class="col-md-4">
      <img src="https://images.freeimages.com/images/large-previews/49f/the-shrimp-1322833.jpg" class="img-projeto">
      <h4 class="text-primary">Camarão</h4>
      <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
    </div>

  </div>
</div>
