<div class="container-fluid bg-white py-5 my-5">
    <div class="row ms-4">
    <div class="col-md-4"><img src="https://p2.piqsels.com/preview/980/255/705/laptop-hand-screen-coffee.jpg" class="img-fluid rounded-circle" style="width: 250px; height: 400px; object-fit: cover"></div>
    
    <div class="col-md-8"><h1 class="display-5 fw-bold">The Second Heading <span class="text-secondary">Is Pretty Cool Too</span></h1>
    <p class=" fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous
        versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
        </div>
    </div>
    
    </div>
</div>